*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body{
     color: #ffff;
     font-family: 'Montserrat', sans-serif;
     background-color: #0e141f;
}

a{
     color: #fff;
     text-decoration: none;
}
ul{
     list-style: none;
}
.container{
     width: 90%;
     margin: auto;
     margin-top: 80px;
}
/* navigation */
.nav-main{
     top:0px;
     font-size: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 60px;
     width: 100%;
     padding: 30px 90px;
     margin: auto;
     background-color: #0e141f;
     box-shadow: 0 1rem 5rem -0.5rem #000;
     position: fixed;
     border-bottom: 1px solid #29303d;
     z-index: 3;
     box-sizing: inherit;
     
     
}
.nav-brand{
     width: 100px;
     display: block;
}
/* nav left */
.nav-main ul {
     display: flex;
}
.nav-main li{
     padding: 10px;
}
.nav-main a{
     font-family: 'Helvetica Neue',Arial,sans-serif;
}

.nav-main ul li a{
     margin-top: 10px;
     margin-bottom: 10px;
     text-shadow: 0 0 7px rgb(118, 118, 124);
     display: inline-block;
     color: #fff;
     text-decoration: none;
     padding: 10px 10px;
     line-height: normal;
     font-weight: 20px;
     font-weight: bold;
     -webkit-transition: all 1000ms ease;
     -o-transition: all 1000ms ease;
     transition: all 1000ms ease;

}
.nav-main ul li a:hover{
     background: rgb(35, 28, 66);
     border-radius: 50px;
}
.nav-main ul.nav-menu{
     flex: 1;
     margin-left: 20px;
}

.menu-btn{
     display: none;
     position: fixed;
     cursor: pointer;
     top: 15px;
     right: 30px;
     z-index: 2;
     font-size: 1.5rem;
     z-index: 99999;
     transition: all 0.5s;
     -webkit-transition: all 0.25s;
}
.menu-btn:hover{
     transform: rotate(90deg);
     color: #97979c;
}


/* showcase */

.showcase{
     border-radius: 0.5em;
     width: 100%;
     height: 550px;
     background: url("./img/laptop-img.jpg") no-repeat center center/cover;
     padding: 50px;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: flex-end;
}

.btn{
     border-radius: 3em;
     cursor: pointer;
     display: inline-block;
     font-weight: bold;
     padding: 10px 20px;
     background: #262626;
     color: #fff;
     font-size: 15px;
     border: 1px solid #fff;
     margin:10px ;

     -webkit-transition: all 700ms ease;
     -o-transition: all 700ms ease;
     transition: all 700ms ease;
} 
.btn:hover{
     opacity: 0.5;
}
.showcase p{
     margin-bottom: 10px;
}
.showcase h2{
     color: rgb(255, 255, 255);
     text-shadow: 2px 2px 2px rgb(0, 0, 0);
     margin: 10px;
}
/* news cards */
.news-cards{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 25px;
     margin: 70px 0;
}
.news-cards img{
     width: 100%;
     height: 150px;
     border-radius: 0.2em;
}
.news-cards h3 {
     font-size: 15px;
     margin: 10px 0 ;
}
.news-cards a{
     padding: 10px 0;
     color: #f2f2f2;
     text-transform: uppercase;
     display: inline-block;
     font-weight: bold;
     font-size: 15px;
}
.news-cards p{
     font-size: 13px;
     text-align: justify;
}
.news-cards a:hover{
     color: rgb(92, 90, 97);
     -webkit-transition: all 1000ms ease;
     -o-transition: all 1000ms ease;
     transition: all 1000ms ease;
}


/* Cards banner one */
.cards-banner-one{
     width: 100%;
     height: 500px;
     background:url("./img/javascript-banner.png") no-repeat center center/cover;
     margin-bottom: 40px;
     border-radius: 0.5em;
}
.cards-banner-one .content{
     width: 40%;
     padding: 40px 0 0 30px;
     color: rgb(0, 0, 0);
}
.cards-banner-one p{
     margin: 10px 0 20px 0;
}
.cards-banner-one h2{
     margin: 10px 0 20px 0;
     text-shadow: 1px 1px 1px black;
}
.cards-banner-one .content .btn{
     position: fixed;
}


/* cards banner two */
.cards-banner-two{
     width: 100%;
     height: 500px;
     background: url("./img/javascript-frameworks.jpg") no-repeat center center/cover;
     margin-bottom:40px ;
     border-radius: 0.5em;
}
.cards-banner-two .content{
     width: 40%;
     padding: 40px 0 0 30px;
     color: rgb(245, 232, 46);
}
.cards-banner-two h2{
     font-size: 50px;
     -webkit-text-stroke: 0.1px rgb(248, 215, 28);
     text-shadow: 3px 3px 3px black;
     margin: 10px 0 20px 0;
     
}
/* social */
.social{
     margin: 50px;
}
.social p{
     text-align: center;
     font-size: 30px;
     margin-bottom: 20px;
}
.links{
     display: flex;
     align-items: center;
     justify-content: center;
}
.links a{
     margin: 0 30px;
}
.links a i{
     font-size: 3rem;
}
/* footer links */
.footer-links{
     border-top: 1px solid #29303d;
     background: #101022;
     color: #8c8b8b;
     font-size: 12px;
     padding: 35px 0;
}
.footer-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     align-items: flex-start;
     justify-content: center;
}
.footer-container ul{
     margin: 0 auto;
}
.footer-container ul li{
     line-height: 2.5;
}
.footer{
     background-color: #04030e;
     color: #8c8b8b;
     font-size: 12px;
     padding: 20px 0;
     text-align: center;
     padding-bottom: 20px;
}
@media(max-width:700px){
     .menu-btn{
          display: block;
     }
     .nav-main ul.nav-menu{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background-color:  #0e0f20;
          height: 100%;
          transform: translateX(-400px);
          padding: 30px;
          opacity: .9;
          
     }
     .nav-main ul.nav-menu.show{
          transform: translateX(-20px);
          border-top-right-radius: 2em;
          border-bottom-right-radius: 2em;
          box-shadow: 0 0 100px rgb(24, 10, 68);
                    
     }
     
     ul.nav-menu.show{
     transform: translateX(-20px);
          transition:cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;
          position: fixed;
     }
     .nav-main ul.nav-main li{
          padding: 20px;
          font-size: 14px;
     }

     .news-cards{
          grid-template-columns: repeat(2, 1fr);
     }
     .cards-banner-one .content, .cards-banner-two .content{
          width: auto;
          text-align: center;
     }
     .footer-links .footer-container {
          grid-template-columns: repeat(2, 1fr);
     }
     

}
@media(max-width:500px){
     .news-cards{
          grid-template-columns: 1fr;
     }
     .news-cards img{
          height: 200px;
     }

     .cards-banner-one .content, .cards-banner-two .content{
          width: 100%;
          padding: 60px 20px;
     }
     .footer-links .footer-container{
          grid-template-columns: 1fr;
     }
}
.signature {
     display: flex;
     justify-content: center;
     padding: 3rem 0;
     border-top: 1px solid #1c293f;
     color: #5d6c89;
     font-weight: 500;
}

.love svg {
     height: 1.75rem;
}
.heart {
     fill: red;
     position: relative;
     top: 1px;
     width: 50px;
     animation: pulse .9s infinite;
	transform-origin: center;
}

@keyframes pulse {
     from { transform: none; }
     50% { transform: scale(1.4); }
     to { transform: none; }
}